<div class="comments-area inner">
	<h2 class="comments-title"><span class="icon-plus" aria-hidden="true"></span> Comments</h2>
	<div id="disqus_thread"></div>
	<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus</a>.</noscript>
</div><!-- .comments-area -->
