<div class="comments-area inner">
	<h2 class="comments-title"><span class="icon-plus" aria-hidden="true"></span> 留言</h2>
	<div id="lv-container" data-id="city" data-uid="MTAyMC8yODg1OC81NDI4">
	<script type="text/javascript">
   (function(d, s) {
       var j, e = d.getElementsByTagName(s)[0];
       if (typeof LivereTower === 'function') { return; }
       j = d.createElement(s);
       j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
       j.async = true;
       e.parentNode.insertBefore(j, e);
   })(document, 'script');
	</script>
	<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus</a>.</noscript>
</div><!-- .comments-area -->
