<aside class="sidebar" aria-label="Sidebar">
	<div class="sidebar-scrollable">
		<div class="widget-area">
			{{#if @blog.navigation}}
				{{navigation}}
			{{/if}}
			<section class="widget widget-text">
				<h2 class="widget-title">{{@blog.title}}</h2>
				<p></p>
			</section><!-- .widget -->
			{{#if @labs.subscribers}}
			<section class="widget widget-newsletter">
				<h2 class="widget-title">{{@blog.title}} Newsletter</h2>
				<p>Enter your email address to subscribe to this blog and receive notifications of new posts by email.</p>
				{{subscribe_form form_class="gh-subscribe-form" placeholder="Your email address"}}
			</section><!-- .widget -->
			{{/if}}
			<section class="widget widget-text">
				<h2 class="widget-title">Contact</h2>
				<p>新浪微博@杨杨左左</p>
				<p></p>
				<ul class="contacts">
					<li><span class="icon icon-envelope" aria-hidden="true"></span> i [at] yangzuo.net</li>
					<li><span class="icon icon-map-marker" aria-hidden="true"></span> Shanghai,China.</li>
				</ul>
			</section><!-- .widget -->
		</div><!-- .widget-area -->
		<a class="sidebar-toggle"><span class="screen-reader-text">Close Sidebar</span><span class="icon" aria-hidden="true"></span></a>
	</div><!-- .sidebar-scrollable -->
</aside><!-- .sidebar -->
